header {
    height: 85px;
    background-color: #19444D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #D6E2E1;
}

body {
  overflow-y: auto; /* Kan hjælpe til at fixe scroll (ikke i det her tilfælde men god at have med) */
  padding-bottom: 85px; /* Hjalp med at fixe scroll da footeren er fixed */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 140px;
    margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 7px;
  background-color: #D6E2E1;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  position: relative;
}



h4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  color: #19444D;
}




.foto{
  width: 100%;
  height: 90%;
  margin-top: 20px;
  border-radius: 20px;
  }

.foto2{
  width: 100%;
  height: 115px;
  margin-top: 20px;
  border-radius: 20px;
  }

.qr{
  width: 260px;
  height: 260px;
  padding: 0px;
}

#points {
  width: 117px;
  height: 32.23px;
  background-color: #33776B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 50px;
}

img.logo {
  margin-top: 0;
}

.item1 {
  grid-row: 2;
  grid-column: 1/5;
}

.item2 {
  grid-column: 1/3;
  grid-row: 3;
  }

  .item2 h4 {
    margin: 0 70%; /* Fjern standardmargen */
  }

.item3 {
  grid-column: 3/5;
  grid-row: 3;
  }

.item4 {
  grid-column: 1/5;
  grid-row: 4;
  }

.item5 {
  grid-column: 1/5;
  grid-row: 5;
  }


.item2,
.item3,
.item4,
.item1 {
  border-bottom: 2px solid white;
  position: relative;
}

.item6 {
  grid-row: 2;
  grid-column: 1/5;
}

.item6 h4 {
  font-size: 50px;
}

.item7 {
  grid-row: 3;
  grid-column: 1/5;
  margin: 100px 50px 0 50px;
  padding: 0;
}

.grid-container > div.item7 {
  padding: 0;
}

.item8 {
  grid-row: 4;
  grid-column: 1/5;
}

.item8 h4 {
  font-size: 25px;
}

.grid-container > div.item9 {
  padding: 0;
}
.item9 {
  grid-row: 1;
  grid-column: 3/5;
  
}

.item9 p {
  font-size: 18px;
  color: white;
  
}

footer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 90px;
  background-color: #19444D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
}

@media only screen and (max-width: 600px) {

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 0px;
}

.icon-container:not(:last-child) {
  margin-right: 5%;
}

.icon-container.icon1 {
  margin-right: 20px;
}

.icon-container.icon2 {
  margin-left: 20px;
}

.icon-container.icon3 {
  margin-right: 20px;
}

.icon-container.icon4 {
  margin-left: -10px;
  margin-bottom: 5px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon a {
  display: block;
  width: 100%;
  height: 100%;
}

.icon img {
  max-width: 45px;
  max-height: 45px;
  object-fit: contain;
}

.icon span {
  margin-top: 0.2em;
  font-size: 0.8em;
}
}

@media (max-width: 512px) { /* adjust styles for smaller screens */
.icon-container {
width: 30%; /* make each icon container take up 50% of the width */

}

.icon-container.icon2 {
  margin-left: 0px;
}
}
