header {
  height: 85px;
  background-color: #19444D;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  width: 100%;
}
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #D6E2E1;
  }

   
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
      position: relative;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
      margin-bottom: 20px;
    }
  
    
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 49%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      font-size: 10px;
    }
  

    .centered-text {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      margin-top: 60px;
      color: #FFFFFF
    }

  

    .pointoffer-images {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px;
      margin-top: 70px;
    }
    
    .image {
      text-align: center;
      margin: -10px;

    }
    
    .image img {
      max-width: 100%;
    }
    
    .image h2 {
      margin-top: 0;
      color: #19444D;
    }
    
    .image p {
      margin-bottom: 0;
      color: #19444D;
      
    }

    .rounded-img {
      border-radius: 10px;
      width: 75%;
    }


    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 140px;
      margin-top: 20px;
    }


  footer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 90px;
    background-color: #19444D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      margin: 0px;
    }
    
    .icon-container:not(:last-child) {
      margin-right: 5%;
    }
    
    .icon-container.icon1 {
      margin-right: 20px;
    }
    
    .icon-container.icon2 {
      margin-left: 20px;
    }
    
    .icon-container.icon3 {
      margin-right: 20px;
    }
    
    .icon-container.icon4 {
      margin-left: -10px;
      margin-bottom: 5px;
    }
    
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .icon a {
      display: block;
      width: 100%;
      height: 100%;
    }
    
    .icon img {
      max-width: 45px;
      max-height: 45px;
      object-fit: contain;
    }
    
    .icon span {
      margin-top: 0.2em;
      font-size: 0.8em;
    }
    }
    
    @media (max-width: 512px) { /* adjust styles for smaller screens */
    .icon-container {
    width: 30%; /* make each icon container take up 50% of the width */
    
    }
    
    .icon-container.icon2 {
      margin-left: 0px;
    }
    }